<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>

<table>
  <thead>
    <tr>
      <th> Game </th>
      <th> Type </th>
      <th> Player Minimum </th>
      <th> Player Maximum </th>
      <th> Best With </th>
      <th> Playtime </th>
      <th> Notes </th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.name %></td>
        <td><%= game.gametype %></td>
        <td><%= game.player_minimum %></td>
        <td><%= game.player_maximum %></td>
        <td><%= game.players_best_with %></td>
        <td><%= game.playtime %></td>
        <td><%= game.notes %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
